<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Edit</title>
  </head>
  <body>
    <div class="center">
      <h1>Edit the comment</h1>
      <form method="POST" action="/comments/<%=com.id%>?_method=PATCH">
        <textarea name="com" id="com" cols="30" rows="10">
          <%=com.com%>
        </textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
